.navbar-brand__img {
	
	display: block;
	position: absolute;
	
	width: 160px;
	height: auto;
	top: 0;
	margin-top: -12px;

}

.navbar-brand__logo {
	
	display: block;
	position: absolute;
	
	width: auto;
	height: 100px;
	margin-left: -145px;
	top: 0;
	margin-top: -1px;

}

.cbp-item-wrapper {
	
	height: 500px !important;
	background-size: cover;
	background-position: center;

}

.img-0-fuck .cbp-item-wrapper {
	
	background-image: url('20170916_130923.jpg');

}

.img-1-fuck .cbp-item-wrapper {
	
	background-image: url('20171214_213757.jpg');

}

.img-2-fuck .cbp-item-wrapper {
	
	background-image: url('IMG_20140509_232529.jpg');

}

.img-3-fuck .cbp-item-wrapper {
	
	background-image: url('IMG_20140510_181342.jpg');

}

.img-4-fuck .cbp-item-wrapper {
	
	background-image: url('IMG_20141003_210534.jpg');

}

.img-5-fuck .cbp-item-wrapper {
	
	background-image: url('IMG_20160814_013435.jpg');

}

.go-mail {
	
	display: block;
	position: absolute;
	width: 130px;
	height: 52px;
	
	left: 10px;
	top: 100%;
	margin-top: -131px;

}

div.icon { display: none; }